footer{
    height: 100px;
    width: 100%;
    background-color: var(--accent-color);
    padding-top: 20px;
    position: absolute;
    bottom: 1px;
    border-top: grey solid 1px;
    color: var(--secondary-color);
    font-family: var(--title)
    
}
.center-footer{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.center-footer h3{
    margin-top: 45px;
    text-align: center;
}