@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Enhanced CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    
}

body {
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(to top, #d3cedc, #cac5d3, #c2bdcb, #b9b4c2, #b1acba, #a29dab, #938f9c, #85818e, #6e6a76, #57535f, #413d49, #2d2934);
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}
.main-contain {
    height: 100%;
    display: flex;
}

.menu-container {
    width: 230px;
    height: 100%;
    background-color: rgba(45, 41, 53, 0.2); /* Apply opacity only to the background color */
    font-family: "Libre Baskerville", serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo-text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.logo-box img {
    margin: 20px;
    max-width: 100%;
    max-height: 100px; /* Adjust height as needed */
    width: auto;
    height: auto;
    fill: #d3cedc; /* This will only work if the SVG file supports CSS fill property */
}
.page-title {
    list-style-type: none;
    font-size: 24px;
    color: #d3cedc;
    display: flex;
    flex-direction: column;
    gap: 37px;
    margin-top: 30px;
}
.note-container {
    background-color: white;
    color: #2d2934;
    width: 390px;
    height: 280px;
    border-radius: 10px;
    padding: 0px 10px;
}
.title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-box h1{
    margin-top: 10px;
}
.remove-note{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}